image:
  repository: nginx
  tag: "1.27.3"  # default; Argo CD will override this
  pullPolicy: IfNotPresent

replicaCount: 1

podAnnotations: {}

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}
